include asent/lexicons/emoji_v1.json
include asent/lexicons/no_lexicon_v1.txt
include asent/lexicons/en_lexicon_v1.txt
include asent/lexicons/sv_lexicon_v1.txt
include asent/lexicons/da_lexicon_afinn_v1.csv
include asent/lexicons/da_lexicon_sentida_lemma_v1.csv