spacy>=3.0.0,<3.4.0
matplotlib>=3.5.0,<4.0.0

# spacy pipeline
https://huggingface.co/spacy/da_core_news_lg/resolve/main/da_core_news_lg-any-py3-none-any.whl
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
https://huggingface.co/spacy/nb_core_news_sm/resolve/main/nb_core_news_sm-any-py3-none-any.whl

# documentation
sphinx>=4.5.0,<5.0.0
furo==2022.6.4.1
sphinx-copybutton
sphinxext-opengraph
myst-parser
sphinx_design

# code style
flake8
black
